
body {background-color:white; margin: 0px}
.buttons {align-items: center; padding-left: 16px; padding-right: 16px; 
margin:auto}
.button-left {margin: 11px 4px;}
.button-right {margin: 11px 4px; position: fixed; }
#googleimage {position: relative; left: 20px; align-content: center; height: 92px; margin-top: 89px; width: 272px }
.blue {position: relative; top:200px; left: 500px; display: inline-block}
#bar{ object-position: center;}
.top{max-width: inherit; margin-top: 5px}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family:"Arial", sans-serif;
}

li {
    float: right;
}


#square {
    margin-top: 12px }
li a {
    display: block;
    color: #737373;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
#bottom {  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family:"Arial", sans-serif;
    position: fixed; 
    bottom: 0px;
}
.content {display: inline-block}

.