
body {background-color:white; margin: 0px}
.buttons {align-items: center; padding-left: 16px; padding-right: 16px; 
margin:auto}
.button-left {margin: 11px 4px;}
.button-right {margin: 11px 4px;}
#googleimage {position: relative; left: 20px; align-content: center; height: 92px; margin-top: 89px; width: 272px }
.blue {position: relative; top:200px; left: 500px }
#bar{ object-position: center;}
.bottom {width:1900px; position:fixed; bottom: 0px; height: 45px; background-color: gainsboro}
.top{max-width: inherit; margin-top: 5px}